/* This should clear out the browser settings */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    background-color: #333;
    /* used a color selector to pick a color */
    color: #3498db;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}    

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: center;
}
    
nav a {
    color: #3498db;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s
}

nav a:hover {
    color: black
}   

.profile {
   display: flex;
   padding-top: 20px;
   padding-bottom: 20px;
   box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

}

.image-container {
    margin-right: 10px;
    padding-right: 2px;
    border-right: 2px solid black ;
}
    
.profile-picture {
    display: flex;
    justify-content: space-around;
    max-width: 100px;
    height: auto;
    border-radius: 50%;

}
.profile-text {
    padding-left: 10px;
}

.skills {
    display: flex;
     /* updated to get the skills list to be vertical */
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.skills-list ul {
    list-style: none;
    padding: 0;
    text-align: center;
}   
.skills-list li {
    width: 100px;
    margin: 5px;
    text-align: left;

}

.projects {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.cards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.card {
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    /* found a way to shadow when researching some different way to style */
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.card:hover {
    background-color: grey;
}
.card .text {
    padding: 20px;
    text-align: center;
}

.contact {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}

.contact-form {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}
form {
    width: 300px;
    padding-left: 20px;

}

label, input, textarea {
    margin-bottom: 10px;
    /* adding block as way to have the contact form lines to all display 
    on a single line, should explore going with a table instead? */
    display:block;
}

.flutie-logo {
    max-width: 100px;
    height: auto;
    
}

@media (max-width: 768px) {

}